.sectiongridarea{
    border: 1px solid black;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(75,2fr);
    grid-template-rows: repeat(24,1fr);

    grid-template-areas:
    "head head"
    "hero"
}


.header{
    grid-area: head;
    background: blue;

}
.hero{
    grid-area: hero;
    background: lightcoral;
}
.main-content{
    grid-area: main;
    background: lightyellow;
}
.sidebar{
    grid-area: side;
    background:green
}
.extra-content{
    grid-area: extra;
    background: gray;
}
.img{
    grid-area: image;
    background: rgb(25, 122, 25);
}