body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./cover/photo-1529787184525-7d3933bec5a0.jpg) ;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
}
.drum span{
	color: #0226f3;
	font-size: 1em;
}
.drum{
	font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 150px;
    width: 150px;
    color: white;
    border: 2px solid #0226f3;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    font-family: 'Roboto Mono', monospace;
}
.drum:hover{
	transform: scale(1.07);
}

.drumSet{
    display: flex;
    flex-wrap: wrap;
    
}
.playing {
	transform: scale(1.2) !important;  /*to override the scale from hover*/
    border: 2px solid #0226f3;
 box-shadow: 0px 0px 20px 5px #0226f3;

}