table {
    border-collapse: collapse;
  }

  td, th {
    grid-template-columns: repeat(0,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid #80808063;
    width: 1%;
    height: 15vh;
    background: #a9a9a961;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: white;
}