@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding:20px 0 !important;
}

nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background-color: #ff7100d1!important;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
    padding-left: 20px !important ;

}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #030505 !important;
}
.heding-content{
    position: absolute;
    top:40%;
    width:100%;
    max-width: 100%;
    padding-right: 1305px;
    margin-top: -80px;
}


.heding-content h5{
    font-size: 3em;
    font-weight: 300;
    color: #ff7100d1!important;
    font-family:monospace ;
}
.btn-secondary {
    color: #fff;
    background-color: #dc7a1c !important;
    border-color: #6c757d;
}

.text-center {
    text-align: center!important;
    padding: 102px 941px 0px 0px;
}
h3.display-4 {
    position: relative;
    left: 400px;
}

hr:not([size]) {
    height: 1px;
    position: relative;
    left: 400px;
}

img.card-img-top {
    height: 288px;
}
h3#left {
    position: absolute;
}
h3.display-4 {
    position: relative;
    left: 400px;
    color: #dc7a1c;
}